<div id="<%= dom_id course_module %>">
  <p class="module-name">
    <%= course_module.module_name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= Year.where(id: course_module.year_id).first.year_number %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= course_module.credits %>
  </p>

</div>
