<div id="<%= dom_id course_module %>">
  <p>
    <strong>Module name:</strong>
    <%= course_module.module_name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= course_module.year_id %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= course_module.credits %>
  </p>

</div>
