<h1><%= @user.username %></h1>
<h2>Total</h2>
<h2>Years</h2>
<% @years.each do |year| %>
    <%= link_to "Year: #{year.number}", "/years/#{year.id}" %>
<% end %>
<%= link_to "Add Year", "/years/new" %>