/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= (removed to have separate css for landing page) require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: rgb(34, 95, 248);
    --background-color: rgb(222, 222, 222);
    --delete-color: red;
    font-family: poppins;
}

.module {
    background-color: var(--background-color);
    width: 80vw;
    padding: 1rem;
    margin: 1rem auto;
    text-align: center;
    border-radius: 1rem;
}

.score-bar {
    width: 100%;
    height: 20px;
}

.bar-background {
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.bar {
    width: 80.84%;
    background: green;
    height: 100%;
    border-radius: 5px;
}

.bar p {
    float: right;
}

.module-name {
    font-size: 1.5rem;
    font-weight: bold;

}

.module-name a {
    text-decoration: none;
    color: black;
}

.utility-button {
    background-color: var(--primary-color);
    font-size: 1rem;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: fit-content;
    border: none;
    cursor: pointer;
}

.test-wrapper {
    background-color: var(--background-color);
    width: fit-content;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 1rem;
}

.delete-button {
    background-color: var(--delete-color);
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: fit-content;
    border: none;
}