<div class="test-wrapper">
  <%= render "form", test: @test %>

  <br>

  <div>
    <%= link_to "Show this test", @test, class: "utility-button" %>
    <br>
    <%= link_to "Back", course_module_path(@course_module), class: "utility-button" %>
  </div>
</div>
